@model SkyDash.ViewModels.VmViewModel

@section scripts{

    <!--JqueryUI Script to generate accordion view (Collapsable account names)-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion").accordion({
                clearstyle: true,
                collapsible: true, //allow accordion to be completely collapsed showing only the headers
                active: 0, //open first accordion on load
                heightStyle: "content", //The accordion opens to fit the content
            });
        });
    </script>    

    <!--Loop through VMs within Accounts to generate DIVs and corresponding buttons for JQuery Dialog boxes  (Used for Backups/Info)-->
    @foreach (var vm in Model.accountVms)
    {
        <script type="text/javascript">
            //Create Backup Dialog for each VM
            //vm.counter used to create unique div ids. dialog will match with corresponding button based on id. 
            $(function () {
                $('#dialogb-@vm.counter').dialog({
                    autoOpen: false,
                    width: 450,
                    height: 610,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 300
                    },
                    hide: {
                        effect: "blind",
                        duration: 300
                    },
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            $('.ui-dialog-titlebar-close').hide();
                            jQuery('#dialogb-@vm.counter').dialog('close');
                        })
                    }
                }).prev(".ui-dialog-titlebar").css({ "background": "#428bca", "font-size": "1.5vw", "text-align": "center", "color": "#ffffff"});
            });

            //Create Backup dialog button for each VM 
            //Counter used again to correspond to unique div
            $('#btnb-@vm.counter').click(function () {
                $('#dialogb-@vm.counter').dialog("open");
            });
        </script>
        <script type="text/javascript">
            //Create Info dialog for each VM
            $(function () {
                $('#dialogi-@vm.counter').dialog({
                    autoOpen: false,
                    width: 850,
                    height: 550,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 300
                    },
                    hide: {
                        effect: "blind",
                        duration: 300
                    },
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            $('.ui-dialog-titlebar-close').hide();
                            jQuery('#dialogi-@vm.counter').dialog('close');
                        })
                    }
                }).prev(".ui-dialog-titlebar").css({ "background": "#428bca", "font-size": "1.5vw", "text-align": "center", "color": "#ffffff"});
            });
            //Create info dialog button for each VM
            $('#btni-@vm.counter').click(function () {
                $('#dialogi-@vm.counter').dialog("open");
            });

            //Submit a ticket - button
            $('#btnt-@vm.counter').click(function () {
                $('#dialogt-@vm.counter').dialog("open");
            });

        </script>
    }
}
<!--Main Title-->
<h1 class="title">Backups</h1>

<!--Accordion defined in JS used as Div-->
<div id="accordion">
    <!--Loop through accounts to generate accordion headers -->
@foreach (var account in Model.accounts)
{
    if (account.allBackupsStatus == true)
    {
        <!--Generates success accordion header (All backups success)-->
        <h2 class="account-name">@account.name</h2>
    }
    else
    {
        <!--Header created including "Backups failed" will display if multiple backups have failed within that account. Displays number of failed backups in accordion-->
        <h3 class="account-name">@account.name<span class="backups-failed">Backups Failed: @account.numberFailedBackups</span></h3>
    }
    <div>

        <!--Gets List of VMs from view Model-->
        @foreach (var vm in Model.accountVms)
        {
            if (vm.AccountId == account.id)
            {
                <!--Creates div which acts as JQuery dialog for backup information-->
                <div id="dialogb-@vm.counter" title="@vm.Name">
                    <h1 class="dialog-content-backup">Backups</h1>
                    @foreach (var backup in vm.backups)
                    {
                        <ul>@backup.BackupEnd - @backup.Status</ul>
                    }
                </div>

                <!--Creates div which acts as JQuery dialog for VM information-->
                <div id="dialogi-@vm.counter" title="@vm.Name">
                    <h1 class="dialog-content-info" align="left">VM Information</h1>
                    <div id="wrap">
                        <div id="left_col">
                            <h5>ID:</h5>@vm.Id
                            <h5>Size:</h5>@vm.Size 
                            <h5>Operating System:</h5>@vm.OperatingSystem
                            <h5>Number of CPUs:</h5>@vm.NumberOfCPUs
                            <h5>Memory:</h5>@vm.Memory Mb
                            <h5>Storage:</h5>@vm.Storage Mb
                        </div>
                        <div id="right_col">
                            <h5>Account ID:</h5>@vm.AccountId
                            <h5>Power Status:</h5>@vm.PowerStatus
                            <h5>Month To Date:</h5>£@vm.MonthToDate
                            <h5>Estimated Monthly Total:</h5>£@vm.EstimatedMonthlyTotal
                            <h5>Billed Hours Powered On:</h5>@vm.BilledHoursPoweredOn Hours 
                            <h5>Billed Hours Powered Off:</h5>@vm.BilledHoursPoweredOff Hours
                        </div>
                    </div>
                </div>
                <!--If last backup was a success create success panel-->
                <div class="col-md-2">
                     @if (vm.LastBackupStatus == "Successful")
                     {
                        <div class="panel-body-success">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <!--Backup slot provides night of back up. Only display date in panel-->
                                <li>@vm.backups[0].BackupSlot.Replace("night of:", "")</li>
                            </ul>
                            <!--Unique buttons created corresponding to VM in foreach position-->
<<<<<<< HEAD
                            <button id="btnb-@vm.counter" class="btn btn-primary btn-responsive">Backups</button>
                            <button id="btni-@vm.counter" class="btn btn-primary btn-responsive">VM Info</button>
=======
                            <button id="btnb-@vm.counter" class="btn btn-primary  btn-responsive">Backups</button>
                            <button id="btni-@vm.counter" class="btn btn-primary  btn-responsive">VM Info</button>
                            <button id="btnt-@vm.counter" class="btn btn-primary  btn-responsive">Ticket</button>
>>>>>>> 44a772cffb91b948ad3296938be91d52b0cd6154
                        </div>
                     }
                    //If last backup was a fail create success panel. "Completed with exception(s)" treated as a fail
                     else if (vm.LastBackupStatus == "Failed")
                     {
                        <div class="panel-body-fail"  id="btn-@vm.counter">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <!--Status provides fail information-->
                                <li>@vm.backups[0].Status</li>
                                <li>@vm.backups[0].BackupSlot.Replace("night of:", "")</li>
                            </ul>
                            <button id="btnb-@vm.counter" class="btn btn-primary button-align-left">Backups</button>
                            <button id="btni-@vm.counter" class="btn btn-primary button-align-right">VM Info</button>
                        </div>
                     }
                    //if no lastbackupstatus, generate panel. Not treated as a fail
                     else
                     {
                        <div class="panel-body-excluded"  id="btn-@vm.counter">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <li>@vm.LastBackup</li>
                            </ul>
                            <button id="btnb-@vm.counter" class="btn btn-primary button-align-left">Backups</button>
                            <button id="btni-@vm.counter" class="btn btn-primary button-align-right">VM Info</button>
                        </div>
                     } 
                </div>
            }
        }
    </div>
}
    </div>

