@model SkyDash.ViewModels.VmViewModel



<h1>@ViewBag.response</h1>

@foreach (var vm in Model.panelVMs)
{
    <div class="panel panel-default">
         @if (vm.LastBackupStatus == "Successful") {
        <div class="panel-body-success">
            <ul>
                <li>@vm.Name</li>
                <li>@vm.LastBackup</li>
            </ul>
        </div>
         }
         else if (vm.LastBackupStatus == "Failed")
         {
            <div class="panel-body-fail">
                <ul>
                    <li>@vm.Name</li>
                    <li>@vm.LastBackup</li>
                </ul>
            </div>
         }
         else
         {
            <div class="panel-body-excluded">
                <ul>
                    <li>@vm.Name</li>
                    <li>@vm.LastBackup</li>
                </ul>
            </div>
         }
    </div>
}