@model SkyDash.ViewModels.VmViewModel

@section scripts{
    
    @foreach (var vm in Model.accountVms)
    {
    <script type="text/javascript">
        $(function () {
            $('#dialog-@vm.Name').dialog({
                autoOpen: false,
                width: 500,
                height: 500,
                show: {
                    effect: "blind",
                    duration: 100
                },
                hide: {
                    effect: "explode",
                    duration: 100
                }
            });
        });

        $('#btn-@vm.Name').click(function () {
            $('#dialog-@vm.Name').dialog("open");
        });
</script>
        }
    }

<h1 class="authenticate">@ViewBag.response</h1>

@foreach (var account in Model.accounts)
{
    <h2 class="account-name">@account.name</h2>
    <div class="div-spacing">
        @foreach (var vm in Model.accountVms)
        { 
 
            if (vm.AccountId == account.id)
            {
                <div class="col-md-2">
                     @if (vm.LastBackupStatus == "Successful")
                     {
                        <div class="panel-body-success">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <li>@vm.LastBackup.Replace("Completed on the night of:", "")</li>
                                <li><button id="btn-@vm.Name">More Backups</button></li>
                            </ul>
                            <div id="dialog-@vm.Name">
                                <h1>@vm.Name Backups</h1>
                                @foreach (var backup in vm.backups) {
                                    <ul>@backup.BackupEnd - @backup.Status</ul>
                                }
                            </div>
                            
                        </div>


                     }
                     else if (vm.LastBackupStatus == "Failed")
                     {
                        <div class="panel-body-fail">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <li>@vm.LastBackup.Replace("Completed on the night of:", "")</li>
                            </ul>
                        </div>
                     }
                     else
                     {
                        <div class="panel-body-excluded">
                            <ul class="no-bullet center">
                                <li class="vm-name">@vm.Name</li>
                                <li>@vm.LastBackup</li>
                            </ul>x
                        </div>
                     } 
                </div>
            }
        }
    </div>
}

