
@model SkyDash.ViewModels.SnapshotViewModel

@section scripts{

    <!--JqueryUI Script to generate accordion view (Collapsable account names)-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion").accordion({
                clearstyle: true,
                collapsible: true, //allow accordion to be completely collapsed showing only the headers
                active: 0, //open first accordion on load
                heightStyle: "content", //The accordion opens to fit the content
            });
        });
    </script>

    <!--Loop through VMs within Accounts to generate DIVs and corresponding buttons for JQuery Dialog boxes  (Used for Backups/Info)-->
    @foreach (var vmItem in Model.Vms)
    {
        foreach (var vm in vmItem.VMRecord)
        {
            <script type="text/javascript">
                //Create Snapshot dialog for each VM
                //vm.unofficialId used to create unique div ids. dialog will match with corresponding button based on id. 
                $(function () {
                    $('#dialog-@vm.unofficialId').dialog({
                        autoOpen: false,
                        width: 450,
                        height: 610,
                        modal: true,
                        show: {
                            effect: "blind",
                            duration: 300
                        },
                        hide: {
                            effect: "blind",
                            duration: 300
                        },
                        open: function () {
                            jQuery('.ui-widget-overlay').bind('click', function () {
                                $('.ui-dialog-titlebar-close').hide();
                                jQuery('#dialog-@vm.unofficialId').dialog('close');
                            })
                        }
                    }).prev(".ui-dialog-titlebar").css({ "background": "#428bca", "font-size": "1.5vw", "text-align": "center", "color": "#ffffff" });
                });

                //Create Snapshot dialog button for each VM 
                //unofficialId used again to correspond to unique div
                $('#btn-@vm.unofficialId').click(function () {
                    $('#dialog-@vm.unofficialId').dialog("open");
                });
            </script>
        }
    }
}
<h1 class="title">Snapshots</h1>
    <!--Accordion to display Account names-->
<div id="accordion">
    @foreach (var account in Model.skyscapeAccounts)
    {
        //when there are old snapshots display how many and use red background
        if (account.numberOldSnapshots > 0)
        {
            <h3 class="account-name">@account.name<span class="backups-failed">Snapshots over 3 days old: @account.numberOldSnapshots</span></h3>
        }
        else //if snapshots are not old, use green background
        {
            <h2 class="account-name">@account.name</h2>
        }
        <div>
            @foreach (var vmItem in Model.Vms)
            {
                foreach (var vm in vmItem.VMRecord)
                {
                    if (vm.Snapshot != null && vm.Snapshot.Snapshot.accountId == account.id)
                    {
                        //Panel for each snapshot
                        <div class="col-md-2">
                            @if (vm.Snapshot.Snapshot.Created.AddDays(3) < DateTime.Now.Date)
                            {
                                //red panel for old snapshot
                                <div id="btn-@vm.unofficialId" class="col-md-2 panel-body-fail clickable">
                                    <ul class="no-bullet center">
                                        <li class="vm-name">@vm.Name</li>
                                        <li>@vm.Snapshot.Snapshot.Created.ToString("g")</li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                //green panel for snapshot
                                <div id="btn-@vm.unofficialId" class="col-md-2 panel-body-success clickable">
                                    <ul class="no-bullet center">
                                        <li class="vm-name">@vm.Name</li>
                                        <li>@vm.Snapshot.Snapshot.Created.ToString("g")</li>
                                    </ul>
                                </div>
                            }
                        </div>
                        //Dialog to be used to snapshot information - called using JQuery-UI
                        <div id="dialog-@vm.unofficialId" title="Snapshot Information">
                            <ul class="no-bullet">
                                <li><h5>VM name:</h5> @vm.Name</li>
                                <li><h5>Power status:</h5> @vm.Snapshot.Snapshot.PoweredOn</li>
                                <li><h5>Snapshot size:</h5> @vm.Snapshot.Snapshot.SizeInGB GB</li>
                                <li><h5>Date created:</h5> @vm.Snapshot.Snapshot.Created.ToString("g")</li>
                            </ul>
                        </div>
                    }
                }
            }
        </div>
    }
</div>